<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ratespec-artifact" value="../artifacts/package" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ratespec-artifact">
      <package pattern="KeelMatrix.RateSpec" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="KeelMatrix.Telemetry" />
      <package pattern="Microsoft.AspNetCore.TestHost" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>

